.cards__item{
    border-radius: 5px;
    overflow: hidden;

    margin-bottom: 10px;

    background-color: #fff;
}

.cards__image{
    position: relative;
    .cards__image__block{
        position: absolute;
        top: 10%;
        right: 5%;

        width: 30px;
        height: 30px;

        font-size: 18px;
        font-weight: 500;

        display: flex;
        justify-content: center;
        align-items: center;

        background: rgba(49,49,49,0.1);
        color: #fff;

        cursor: pointer;

        border-radius: 5px;

        transition: 0.5s ease;

        &:hover{
            background: rgba(49,49,49,0.2);
        }
    }
}

.cards__content{
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 15px 20px;

    .cards__date{
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;

        color: #847577;
    }

    .cards__title{
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;

        color: #313131;

        transition: 0.5s ease;

        &:hover{
            color: #ff7555;
            cursor: pointer;
        }
    }

    .cards__text{
        font-size: 14px;
        font-weight: 400;

        color: #847577;
    }
}

.cards__status{
    display: flex;
    align-items: center;
    gap: 15px;
}

.cards__buttons{
    display: flex;
    gap: 10px;

    .cards__button{
        padding: 10px 12px;

        font-size: 18px;
        font-weight: 400;
        line-height: 24px;

        border-radius: 5px;
        border: none;
        outline: none;

        transition: 0.5s ease;

        background-color: #e5e5e5;
        color: #313131;

        &:hover{
            background-color: #ff7555;
            color: #fff;
            fill: #fff;
        }
    }
}