$Barlow: 'Barlow', sans-serif;

$color_green: #45f882;
$color_grey: #adb0bc;
$color_white: #ffffff;
$color_black_grey: #1b242e;
$color_black: #0f161b;

$font__weight__400: 400;
$font__weight__500: 500;
$font__weight__600: 600;
$font__weight__700: 700;

$uppercase: uppercase;

.tags{
    margin: 25px 0;
    .tags__title{
        font-size: 22px;
        font-weight: $font__weight__700;

        color: $color_white;

        text-transform: $uppercase;
    }
    .tags__collection{
        display: flex;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;
    }
    .tags__button{
        padding: 10px 24px;

        font-size: 14px;
        font-weight: $font__weight__600;

        color: $color_grey;
        background-color: #182029;

        text-transform: $uppercase;

        outline: none;
        border: none;

        transition: 0.3s ease;

        &:hover{
            cursor: pointer;
            background-color: $color_green;
            color: #182029;
        }
    }
}