$Barlow: 'Barlow', sans-serif;

$color_green: #45f882;
$color_grey: #adb0bc;
$color_white: #ffffff;

$font__weight__400: 400;
$font__weight__600: 600;
$font__weight__700: 700;
$font__weight__800: 800;

$uppercase: uppercase;

*{
    font-family: $Barlow;
}
.main{
    background-image: url('../Images/main_bg.jpg');
    background-position: 50% 50%;
    background-size: cover;

    padding: 50px 0;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 480px;

    color: $color_white;
    .main__header{
        
        font-size: 50px;
        font-weight: $font__weight__800;
        
        letter-spacing: 2px;
        line-height: 1;
    }
    .main__header__item{
        display: flex;
        justify-content: center;
        gap: 10px;

        font-size: 18px;
        font-weight: $font__weight__700;
        span{
            color: $color_green;
        }
    }
}