$Barlow: 'Barlow', sans-serif;

$color_green: #45f882;
$color_grey: #adb0bc;
$color_white: #ffffff;
$color_black_grey: #1b242e;

$font__weight__400: 400;
$font__weight__500: 500;
$font__weight__600: 600;
$font__weight__700: 700;

$uppercase: uppercase;

*{
    font-family: $Barlow;
}

.newsletter{
    margin: 25px 0;
    .newsletter__title{
        font-size: 22px;
        font-weight: $font__weight__700;

        color: $color_white;

        text-transform: $uppercase;
    }
    .newsletter__text{
        font-size: 16px;
        font-weight: $font__weight__500;

        color: $color_grey;

        line-height: 1.75;
    }
    .newsletter__form{
        display: flex;
        justify-content: space-between;
        gap: 20px;

        border-bottom: 2px solid #19222b;
    }
    .newsletter__input{
        width: 100%;

        padding: 14px 25px;

        background-color: $color_black_grey;
        color: $color_white;

        outline: none;
        border: none;

        font-size: 18px;
        font-weight: $font__weight__600;
    }
}