.events__wrapper{
    background-color: #fff;
    box-shadow: 0 6px 22px 0 rgb(0 0 0 / 8%);

    border-radius: 5px;

    margin: 10px 0;
    padding: 15px 20px;
}

.events__title{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    
    color: #313131;

    margin-bottom: 20px;
}

.events__input{
    padding: 10px 20px;

    font-size: 14px;

    color: #313131;;

    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.events__button{
    padding: 9px 20px;

    font-size: 20px;
    font-weight: 500;
    line-height: 24px;

    border-radius: 5px;
    border: none;
    outline: none;

    transition: 0.5s ease;

    background-color: #ff7555;
    color: #fff;

    &:hover{
        background-color: #f55f3d;
        color: #fff;
        fill: #fff;
    }
}