@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  margin: 0 !important;
  padding: 0;
}
a{
  text-decoration: none !important;
  color: inherit;
}
ul{
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

.body{
  --bg-color: #fff;
  --dark: #1A1F2C;
  --button: #1A1F2C;
  --hover: #F0F2F5;
  --title-color: #1A1F2C;
  --text-color: #576076;
  --nav-item-bg-hover-color: #F0F2F5;
  --work-image: #F0F2F5;
  --expert-title: #1A1F2C;
}
.darkbody{
  --bg-color: #000;
  --dark: #0E1018;
  --button: rgba(240, 242, 245, 0.7);
  --hover: #1A1F2C;
  --title-color: #FFFFFF;
  --text-color: rgba(240, 242, 245, 0.7);
  --nav-item-bg-hover-color: #0E1018;
  --work-image:#0E1018;
  --expert-title: rgba(240, 242, 245, 0.7);
}
body{
  background-color: var(--hover)!important;
}

/* BUTTON */
.button{
  padding: 16px 24px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2em;
  transition: .3s ease;
}
.darkButton{
  background-color: var(--dark);
  color: #FFFFFF;
}
.darkButton:hover{
  background-color: #4770FF;
}
.blueButton{
  background-color: #4770FF;
  color: #FFFFFF;
}
.blueButton:hover{
  background-color: #2563EB;
}
.whiteButton{
  background-color: transparent;
  color: var(--button);
  border: 1px solid var(--border);
}
.whiteButton:hover{
  background-color: var(--hover);
}

/* GENERAL */
.wrapper{
  padding: 10px 16px;
  border-radius: 16px;
  background-color: var(--bg-color);
  box-shadow: 0 1px 2px 0 rgba(26, 31, 44, 0.25);
}
.wrapperHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.navItem{
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 10px 12px;
  border-radius: 8px;
  color: #576076;
  transition: .3s ease;
}
.activeNavItem{
  color: var(--title-color)!important;
  background-color: var(--nav-item-bg-hover-color)!important;
}
.navItem:hover{
  color: var(--title-color);
  background-color: var(--nav-item-bg-hover-color);
}
.title{
  padding: 11.2px 5px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2em;
  color: var(--title-color);
  display: flex;
  align-items: center;
  gap: 2px;
}
.title span{
  color: #3498DB;
}
.text{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
  color: var(--text-color);
}
.text span{
  font-weight: 600;
  color: var(--title-color);
}
.imageContainer{
  border-radius: 16px;
  overflow: hidden;
}
.arrow {
  border: solid var(--hover);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


/* HEADER */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.headerList{
  display: flex;
  align-items: center;
  gap: 12px;
}
.headerSwitcher, .headerBurger{
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 8px;
  color: #576076;
}
.headerBurger{
  display: none;
}
.headerSwitcher:hover, .headerBurger:hover {
  color: var(--title-color);
  background-color: var(--nav-item-bg-hover-color);
}

/* ASIDE */
.aside{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--bg-color);
  box-shadow: 0 1px 2px 0 rgba(26, 31, 44, 0.25);
  width: 260px;
  height: 100%;
  padding: 24px;
  transition: .3s ease;
}
.hideAside {
  left: -120% !important;
}
.asideWrapper{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.asideList{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.asideInfo{
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.asideSwitcher{
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2px;
}
.asideSwitcher:hover{
  color: var(--title-color);
  background-color: var(--nav-item-bg-hover-color);
  border: 1px solid var(--border);
}

/* INFO */
.infoWrapper{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.infoSocial{
  display: flex;
  align-items: center;
  gap: 10px;
}
.infoSocialItem {
  padding: 6px 8px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #BDC3C7;
  transition: .3s ease;
}
.infoSocialLink{
  color: #64748B;
}
.infoSocialItem:hover .infoSocialLink  {
  color: #3498DB;
}

/* WORK */
.workList{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.workListItem{
  display: flex;
  align-items: center;
  gap: 30px;
}
.workListContent{
  display: flex;
  align-items: center;
  gap: 5px;
}
.workListImage{
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--work-image);
  border-radius: 8px;
}
.workListTitle{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  color: var(--title-color);
}
.workListText {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.42em;
  color: #576076;
}

/* Expert */
.expertIcon{
  background-color: var(--work-image);
  color: var(--expert-title);
  padding: 14px 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expertTitle{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  text-align: center;
  color: var(--title-color);
}

/* Project */
.projectImage {
  background-color: var(--work-image);
  padding: 24px;
  border-radius: 8px;
  overflow: hidden;
}
 
/* Service */
.serviceListItem {
  background-color: var(--hover);
  padding: 16px;
  border-radius: 8px;
}
.serviceImage {
  background-color: var(--work-image);
  padding: 25px 14px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serviceImg{
  border-radius: 8px;
  overflow: hidden;
}

/* FOOTER */
.footerText{
  color: var(--title-color);
  font-size: 17px;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 1200px){
  .headerList, .headerInfo {   
    display: none;
  }
  .headerBurger {
    display: block;
  }
  .aside, .hide__aside {
    display: block;
  }
}
@media (min-width: 1200px){
  .aside, .hide__aside {
    display: none;
  }
}



