$Barlow: 'Barlow', sans-serif;

$color_green: #45f882;
$color_grey: #adb0bc;
$color_white: #ffffff;

$font__weight__400: 400;
$font__weight__600: 600;
$font__weight__700: 700;

$uppercase: uppercase;

*{
    font-family: $Barlow;
}
.reply{
    margin: 25px 0;

    .reply__title{
    font-size: 24px;
    font-weight: $font__weight__700;

    color: $color_white;

    margin: 10px 0;

    letter-spacing: 1px;
    line-height: 1.2;

    text-transform: $uppercase;
    }
    .reply__text{
        font-size: 16px;
        font-weight: $font__weight__400;

        color: $color_grey;

        letter-spacing: 1px;
        line-height: 1.75;

        color: $color_grey;
    }
    .reply__input, .reply__textarea{
        width: 100%;

        background-color: transparent;
        color: $color_white;

        font-size: 18px;
        font-weight: 500;

        letter-spacing: 1.2px;
        line-height: 1.75;

        outline: none;

        margin: 10px 0;
        padding: 14px 25px;

        border: 2px solid #19222b;
    }
    .reply__textarea{
        height: 160px;
        max-height: 160px;
    }
    .reply__button{
        background-color: $color_green;
        color: #0f161b;

        text-transform: $uppercase;
        letter-spacing: 1px;

        padding: 14px 30px;

        font-size: 16px;
        font-weight: 700;

        outline: none;
        border: none;

        transition: 0.3s ease;
        &:hover{
            background-color: #ffbe18;
        }
    }
}
