@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

:root {
  --white: #FFF;
  --black: #000;
  --red: #FF0000;
  --yellow-white: #FFFBEB;
  --font-1rem: 1rem;
  --font-weight400: 400;
  --font-weight500: 500;
  --font-weight600: 600;
  --font-weight700: 700;
  --solid: solid;
  --capitalize: capitalize;
  --uppercase: uppercase;
  --transition: 0.5s ease;
}

.default__button, .dark__button {
  border-radius: 3px;
  font-size: var(--font-1rem);
  font-weight: var(--font-weight600);
  line-height: 1.1em;
  padding: 13px 33px;
}

.default__button {
  background-color: var(--white);
  color: var(--black);
  border: 1px var(--solid) var(--white);
}

.dark__button {
  background-color: var(--black);
  color: var(--white);
  border: 1px var(--solid) var(--black);
}

.wrapper {
  padding: 3rem 0;
}

.item__wrapper {
  margin: 25px 0;
}

.uptitle {
  color: var(--red);
  font-size: var(--font-1rem);
  font-weight: var(--font-weight600);
  line-height: 1.4em;
  text-transform: var(--uppercase);
}

.title {
  font-size: 3.875rem;
  font-weight: var(--font-weight600);
  line-height: 1.1em;
  text-transform: var(--capitalize);
}

.bg {
  background-color: var(--yellow-white);
}

.column10 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fs875 {
  color: var(--white);
  font-size: 1.875rem;
  font-weight: var(--font-weight600);
  text-transform: var(--capitalize);
  line-height: 1em;
}

.darkbg {
  background-color: var(--black);
  color: var(--white);
}

.fs11em {
  font-size: 1.5rem;
  font-weight: var(--font-weight600);
  text-transform: var(--capitalize);
  line-height: 1.1em;
}

.input {
  font-size: var(--font-1rem);
  font-weight: var(--font-weight500);
  line-height: 1.4em;
  padding: 12px;
  border: 1px var(--solid) var(--white);
  border-radius: 3px;
}

.about__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.about__item i {
  color: var(--red);
  font-size: var(--font-1rem);
}

.class__item {
  position: relative;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.class__item .class__item__image {
  width: 45%;
}
.class__item .class__item__image img {
  width: 100%;
}

.class__footer span {
  color: var(--red);
}

.contact {
  padding: 30px;
}
.contact .contact__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact .contact__item i {
  color: var(--red);
  font-size: 1.5rem;
}
.contact .contact__text {
  font-size: var(--font-1rem);
  font-weight: var(--font-weight500);
  line-height: 1.4em;
}

.contact__input {
  background-color: transparent;
  color: var(--white);
}

.event__item {
  margin: 5px 0;
  padding: 10px 20px;
}
.event__item .event__date {
  font-size: 3rem;
  font-weight: var(--font-weight600);
  text-transform: var(--uppercase);
  line-height: 1.1em;
}
.event__item .event__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event__item .event__info .event__info__item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--font-1rem);
  font-weight: var(--font-weight700);
  line-height: 1.4em;
}
.event__item .event__info .event__info__item i {
  font-size: 1.5rem;
  color: var(--red);
}
.event__item .event__reply {
  position: relative;
}
.event__item .event__reply .event__reply__item {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 4rem;
  color: #ff0000;
  cursor: pointer;
}

.footer {
  padding: 30px 30px 10px 30px;
}

.footer__title {
  margin: 30px 0;
  position: relative;
}
.footer__title:after {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: var(--red);
}

.footer__list {
  border-bottom: 1px var(--solid) var(--white);
  padding: 15px 0;
}

.footer__list__item {
  margin: 10px 0;
  font-size: var(--font-1rem);
  font-weight: var(--font-weight700);
  line-height: 1.4em;
  transition: var(--transition);
}
.footer__list__item:hover {
  color: var(--red);
  cursor: pointer;
}

.footer__text {
  margin: 10px 0;
  font-size: 14px;
  font-weight: var(--font-weight700);
  line-height: 1.4em;
}

.footer__input {
  background-color: var(--white);
  color: var(--black);
}

.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 15px 0;
}
.footer__links .footer__icon {
  font-size: 1.5rem;
  transition: var(--transition);
}
.footer__links .footer__icon:hover {
  color: var(--red);
  cursor: pointer;
}

.footer__image {
  margin: 15px 0;
}

.learn__wrapper {
  margin: 0 auto;
  width: 60%;
}

.learn__item {
  border-top: 2px var(--solid) var(--black);
  padding: 10px 0;
  margin: 20px 0;
  transition: var(--transition);
}
.learn__item:hover {
  border-top: 2px var(--solid) var(--red);
}

.learn__title {
  font-size: var(--font-1rem);
  font-weight: var(--font-weight700);
  line-height: 1.4em;
}

.learn__number {
  font-size: 3.875rem;
  font-weight: var(--font-weight600);
  line-height: 1.1em;
}

.main {
  background-image: url("./Components/Images/main.png");
  background-color: var(--yellow-white);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  padding: 50px 0 200px 0;
}

.main__wrapper {
  margin: 0 auto;
  width: 80%;
}

.main__image {
  width: 7%;
  margin: 0 auto;
}

.main__title {
  font-size: 5.125rem;
  font-weight: var(--font-weight600);
  line-height: 1.1em;
}
.main__title span {
  color: var(--red);
}

.main__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 15px 0;
}
.main__links .main__icon {
  font-size: 1.5rem;
  transition: var(--transition);
}
.main__links .main__icon:hover {
  color: var(--red);
  cursor: pointer;
}

.main__footer {
  padding: 20px 50px;
}

.main__footer__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main__footer__item__title {
  font-size: 3.875rem;
  font-weight: var(--font-weight600);
  line-height: 1.1em;
}

.main__footer__item__text {
  color: var(--red);
  font-size: var(--font-1rem);
  font-weight: var(--font-weight600);
  text-transform: var(--uppercase);
  line-height: 1.4em;
}

.post__item__content {
  padding: 0px 30px 15px 30px;
}
.post__item__content .post__item__text {
  font-size: var(--font-1rem);
  font-weight: var(--font-weight500);
  line-height: 1.4em;
}
.post__item__content .post__item__link {
  color: var(--red);
  font-size: var(--font-1rem);
  font-weight: var(--font-weight600);
  text-transform: var(--uppercase);
  line-height: 1.1em;
}

.post__item__footer {
  border-top: 1px var(--solid) var(--white);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

.program__item {
  padding: 30px;
  margin: 10px 0;
}
.program__item .program__item__cost {
  font-size: 3rem;
  font-weight: var(--font-weight600);
  line-height: 1.1em;
}
.program__item .program__item__cost span {
  color: var(--red);
  font-size: var(--font-1rem);
  font-weight: var(--font-weight500);
}
.program__item .program__item__text {
  font-size: var(--font-1rem);
  font-weight: var(--font-weight400);
  line-height: 1.1em;
}
.program__item .program__item__text span {
  color: var(--red);
}
.program__item .program__item__info {
  border-top: 1px var(--solid) var(--white);
  padding: 10px 0;
}
.program__item .program__text {
  font-size: var(--font-1rem);
  font-weight: var(--font-weight700);
  line-height: 1.4em;
}
.program__item .program__element {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.program__footer {
  padding: 20px;
  font-size: 1.875rem;
  font-weight: var(--font-weight500);
}
.program__footer span {
  color: var(--red);
}

.testimonial__wrapper {
  margin: 0 auto;
  width: 60%;
}

.testimonial__icon {
  font-size: 4rem;
  color: var(--red);
}

.testimonial__text {
  color: var(--black);
  font-size: 18px;
  font-weight: var(--font-weight600);
  font-style: italic;
  line-height: 1.4em;
}

@media (max-width: 992px) {
  .main__title {
    font-size: 4.75rem;
  }
}
@media (max-width: 768px) {
  .event__reply__item {
    display: none;
  }
  .main__title {
    font-size: 3.625rem;
  }
}/*# sourceMappingURL=rythme.css.map */