@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

$Barlow: 'Barlow', sans-serif;
$Poppins: 'Poppins', sans-serif;

$color_green: #45f882;
$color_grey: #adb0bc;
$color_white: #ffffff;
$color_black_grey: #1b242e;
$color_black: #0f161b;

$uppercase: uppercase;

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}
::selection{
    background-color: $color_green;
    color: $color_black_grey;
}
body{
    background-color: $color_black;
}
::-webkit-scrollbar{
    width: 8px;
    height: 20px;
    background-color: $color_black;
}
::-webkit-scrollbar-thumb{
    background-color: $color_green;
    border-radius: 10px;
}